<%= form_for @customer do |f| %>
  <p>
    <%= f.label :mobile_number %><br>
    <%= f.text_field :mobile_number %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :postcode %><br>
    <%= f.text_field :postcode %>
  </p>

  <p>
    <%= f.label :age_group %><br>
    <%= f.text_field :age_group %>
  </p>

  <p>
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </p>
   
  <p>
    <%= f.label :incoming_group %><br>
    <%= f.text_field :incoming_group %>
  </p>

  <p>
    <%= f.label :houseowner %><br>
    <%= f.text_field :houseowner %>
  </p>

  <p>
    <%= f.label :profession %><br>
    <%= f.text_field :profession %>
  </p>

  <p>
    <%= f.label :colleage_degree %><br>
    <%= f.text_field :colleage_degree %>
  </p>

  <p>
    <%= f.label :marrage_status %><br>
    <%= f.text_field :marrage_status %>
  </p>

  <p>
    <%= f.label :has_children %><br>
    <%= f.text_field :has_children %>
  </p>

  <p>
    <%= f.label :deal_seek %><br>
    <%= f.text_field :deal_seek %>
  </p>

  <p>
    <%= f.label :apple_fan %><br>
    <%= f.text_field :apple_fan %>
  </p>

  <p>
    <%= f.label :oversea_buyer %><br>
    <%= f.text_field :oversea_buyer %>
  </p>

  <p>
    <%= f.label :preferred_brand %><br>
    <%= f.text_field :preferred_brand %>
  </p>

  <p>
    <%= f.label :payment_type %><br>
    <%= f.text_field :payment_type %>
  </p>
  
  <p>
    <%= f.label :faviourate_category %><br>
    <%= f.text_field :faviourate_category %>
  </p>

  <p>
    <%= f.label :frequence_to_buy %><br>
    <%= f.text_field :frequence_to_buy %>
  </p>

  <p>
    <%= f.label :average_spend %><br>
    <%= f.text_field :average_spend %>
  </p>
  
  <p>
    <%= f.label :wechat_id %><br>
    <%= f.text_field :wechat_id %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

